.robot-filter {
    display: flex;
    flex-wrap: wrap;
    
    margin-block: 30px;
    
    width: 260px;
    height: 40px;
    > input {
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        padding-left: 15px;
        border-right: none;
        &:focus-visible{
            outline: 0px !important;
        }
    }
    >button{
        background-color: white;
        border-left: none;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        padding-right: 15px;
        
    }
}